.listInner {
    width: 600px;
    margin: 20px auto;
    padding: 0;
}
.listInner li {
    list-style: none;
    padding: 20px;
    margin: 10px 0;
    background-color: #C6715B;
    color: #fff;
    border-radius: 50px;
    animation: my1 1s ease-in;
}
.int{
    color:red;
}
@keyframes my1 {
    from {
        opacity: 0.2;
    }
    to{
        opacity: 1;
    }
}